<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>TODOSAPP</title>
</head>

<body>
    <div class="container">


        <h1>Todos: The app </h1>
        <hr>
        <h2>To do: </h2>
        <form action="/" method="post">
            <input type="text" name="desc" id="descid" value="Add Task Here." required>
            <input type="date" name="date" id="dateid" required>
            <input type="submit" value="Add Task">
        </form>


        <hr>

        {% if todos %}
        <h1>My Todos: </h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Desc</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <th scope="row">{{todo.num}}</th>
                    <td>{{todo.desc}}</td>
                    <td>{{todo.date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>




        {% endif %}


    </div>
</body>

</html>